
.App{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    min-width: 100%;
    margin: auto;
    margin-top: 1.5rem;
   
   
   
}
@media screen and (max-width: 768px) {
    .App {
      overflow-y: auto;
      display: block;
      max-width: 80%;
      min-width: 80%;
      
      
    }
  
  }
  @media screen and (max-width: 480px) {
    .App {
      overflow-y: auto;
      display: block;
      max-width: 100%;
      min-width: 360px;
    }
  
  }



