*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
 justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100vh;
  position: relative;
  background-image:-webkit-linear-gradient(rgb(158,211,218),rgb(204,209,203));
}


